@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.new-room{
    display:flex;
    justify-content: center;
    align-items: center;
}